<!DOCTYPE html>
<html>
<head>
  <title>Depot1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body onload="load()">

<div class="container">
	<%= yield %>

	<br><button class="btn" onclick="captureToCanvas()">Scan</button><br>
	<div class="container">

		<object  id="iembedflash" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="320" height="240">
			<param name="movie" value="camcanvas.swf" />
			<param name="quality" value="high" />
		<param name="allowScriptAccess" value="always" />
			<embed  allowScriptAccess="always"  id="embedflash" src="<%= asset_path('/assets/camcanvas.swf') %>" quality="high" width="320" height="240" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" mayscript="true"  />
	</object>

	</div>
	<canvas id="qr-canvas" width="640" height="480"></canvas>
</div>
</body>
</html>
